@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://v1.fontapi.ir/css/SFProDisplay");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --graph_primary: 148, 85%, 51%;
    --graph_green: 147, 50%, 47%;
    --graph_red: 0, 100%, 50%;
    --graph_yellow: 39, 100%, 50%;
    --graph_purple: 248, 53%, 58%;
    --graph_grey: 0, 0%, 90%;
 
    --radius: 0.5rem;

    /* from personal theme */
    --toastify-font-family: monospace;
    /* overflow-x: hidden; */
    --tw-sm: clamp(0.91rem, 0.18vw + 0.86rem, 1.03rem);
    --tw-base: clamp(1.14rem, 0.23vw + 1.08rem, 1.29rem);
    --tw-md: clamp(1.43rem, 0.28vw + 1.35rem, 1.61rem);
    --tw-lg: clamp(1.79rem, 0.36vw + 1.68rem, 2.01rem);
    --tw-xl: clamp(2.23rem, 0.44vw + 2.11rem, 2.51rem);
    --tw-2xl: clamp(2.79rem, 0.55vw + 2.63rem, 3.14rem);
    --tw-3xl: clamp(3.49rem, 0.69vw + 3.29rem, 3.92rem);
    --tw-4xl: clamp(4.36rem, 0.87vw + 4.11rem, 4.9rem);
    --tw-5xl: clamp(5.45rem, 1.08vw + 5.14rem, 6.13rem);
    --tw-6xl: clamp(6.81rem, 1.35vw + 6.42rem, 7.66rem);
    --tw-7xl: clamp(8.51rem, 1.69vw + 8.03rem, 9.58rem);
    --tw-8xl: clamp(10.64rem, 2.12vw + 10.04rem, 11.97rem);
    --tw-9xl: clamp(13.3rem, 2.65vw + 12.55rem, 14.97rem);
    --tw-10xl: clamp(16.63rem, 3.31vw + 15.69rem, 18.71rem);
    --tw-11xl: clamp(20.79rem, 4.13vw + 19.61rem, 23.39rem);
    --tw-12xl: clamp(25.99rem, 5.17vw + 24.51rem, 29.23rem);

  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  /* html{
    font-size: 70%
  } */
  body {
    @apply bg-background text-foreground;
  }
}